<div class="col-md-10 col-md-offset-1">
   <br>
   <div class="card mb-5">
    <div class="card-header">
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
                <span class="navbar-brand small-text">Features</span>                             
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        </div>
    
    </nav>
        </div>
   <div class="card-block p-0">
    <div class="panel-body">
        <table id="mytable" class="table table-striped table-bordered table-list">
            <thead>
            <tr>
                <th class="hidden-xs">
                    
                    <a class="icon-dropdown" ng-click="orderByField='id'; reverseSort = !reverseSort">
                        <span>
                            ID
                        </span>
                    </a>
                </th>
                <th class="col-text">
                        <a class="icon-dropdown" ng-click="orderByField='first_name'; reverseSort = !reverseSort">
                            <span>
                                 First Name
                            </span>
                        </a>
                </th>
                <th class="col-text">
                    <a class="icon-dropdown" ng-click="orderByField='last_name'; reverseSort = !reverseSort">
                            <span>
                                 Last Name
                            </span>
                        </a>
                </th>
                <th class="col-text">
                    <a class="icon-dropdown">
                            <span>
                                 Hobby
                            </span>
                        </a>
                </th>
                <th class="col-text">
                    <a class="icon-dropdown">
                            <span>
                                Bundle
                            </span>
                        </a>
                </th>
                <th class="col-text">
                    <a class="icon-dropdown">
                            <span>
                                Hotfix
                            </span>
                        </a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in selectedItem | startFrom:currentPage*pageSize | limitTo:pageSize | orderBy:orderByField:reverseSort">
                <td class="hidden-xs">{{ item.id }}</td>
                <td>{{ item.first_name }}</td>
                <td> {{ item.last_name }} </td> 
                <td>{{ item.hobby }}</td>
                <td>
                <div class="btn-group timepickercontainer dropdown focus-active" id="atimepicker"   data-value="">
                        <button ng-disabled="item.hotfix" type="button" class="btn btn-default dropdown-toggle col-md-12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ item.bundle || "Select Bundle" }}
                        <i class="caret"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="bundle in allBundles"><a ng-click="selectBundle(item.id, bundle.name);" data-value="bundle.id">{{ bundle.name }}</a></li>
                        </ul>
                    </div>
                </td>
                <td>
                 <div class="btn-group timepickercontainer dropdown focus-active" id="atimepicker"   data-value="">
                        <button ng-disabled="item.bundle" type="button" class="btn btn-default dropdown-toggle col-md-12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ item.hotfix || "Select Hotfix" }}
                        <i class="caret"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li ng-repeat="hotfix in allHotfixs"><a ng-click="selectHotfix(item.id, hotfix.name);" data-value="hotfix.id">{{ hotfix.name }}</a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="well">
        <div class="row">
        <div class="col col-xs-4">
             <h3><small>Showing page {{currentPage+1}} of {{numberOfPages()}}</small></h3>
        </div>
        <div class="col col-xs-12">
            <ul class="pagination hidden-xs pull-right">
                <li><a ng-hide="currentPage == 0" ng-click="currentPage=currentPage-1">«</a></li>
                <li ng-repeat="i in getNumber(totalPages) track by $index"><a ng-click="setPage($index)">{{$index+1}}</a></li>
                <li><a ng-hide="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">»</a></li>
            </ul>
            <ul class="pagination visible-xs pull-right">
                <li><a ng-hide="currentPage == 0" ng-click="currentPage=currentPage-1">«</a></li>
                <li><a ng-hide="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">»</a></li>
            </ul>
        </div>
        <ul>
                <a href="#!/view2">
              <li class="pull-left">
                  <input type="submit" class="submit" value=" « Previous" />
              </li>
            </a>
              <a ng-click="submit()" ><li class="pull-right">
                  <input type="submit" class="submit" value="Next » " />
              </li>
              </a>
          </ul>
        </div>
    </div>
    </div>
   </div>
   </div>