<div>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="card mb-5">
            <div class="card-header">
                <nav class="navbar navbar-default" role="navigation">
                                        <!-- Brand and toggle get grouped for better mobile display -->
                                        <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                                <span class="navbar-brand small-text">Features</span>                             
                                        </div>

                                        <!-- Collect the nav links, forms, and other content for toggling -->
                                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                        </div><!-- /.navbar-collapse -->
                                    
                                    </nav>
            </div>
            <div class="card-block p-0">
                <table class="table table-bordered table-sm m-0">
                    <thead class="">
                        <tr>
                            <th>Server</th>
                            <th>Patch</th>
                            <th>Slots</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in allServer">
                            <td>{{ item.server }}</td>
                            <td>{{ item.patch }}</td>
                            <td>
                                <div class="btn-group timepickercontainer dropdown focus-active" id="atimepicker"   data-value="11:45AM">
                                        <button ng-disabled="item.slot !== "" type="button" class="btn btn-default dropdown-toggle col-md-12" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ item.slot }}
                                        <i class="caret"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li ng-repeat="time in timeSlots"><a ng-click="HandleTimeSelect(time, item.server);" data-value="time">{{ time }}</a></li>
                                        </ul>
                                    </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="well">
                <div class="row">
                    <ul>
                      <a href="#!/view3">
                        <li class="pull-left">
                            <input type="submit" class="submit" value=" « Previous" />
                        </li>
                      </a>
                      <a href="#">
                        <li class="pull-right">
                            <input type="submit" class="submit" value="Create" />
                        </li>
                      </a>
                    </ul>
                </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
